<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Simulador de Liquidación</title>
</head>

<body>
    <h1> Simulador de Liquidación de Nómina</h1>
    <form action="/calcular_cuota">
        <div>
            Salario mensual: <input type="number" name="salario" required />
        </div>
        <div>
            Días trabajados: <input type="number" name="dias" required />
        </div>
        <div>
            Horas extra nocturnas: <input type="number" name="honocturnas" />
        </div>
        <div>
            Horas extra dominicales: <input type="number" name="hodominicales" />
        </div>
        <div>
            Aplica auxilio transporte: <input type="number" name="transporte" />
        </div>
        <input type="submit" value="Calcular cuota" />
    </form>
</body>
</html>
